@use "~/components/ui/mixin/mixin.scss" as form;

.input-radio {
  &.radiobtn-item-block {
    display: block;

    +.radiobtn-item-block {
      margin-top: 0.8rem;
    }
  }

  label {
    position: relative;
    padding-left: rem(28);
    display: inline-flex;
  }

  input[type="radio"] {
    border: rem(1) solid #ccc;
    width: rem(18);
    height: rem(18);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;

    &:checked {
      border-color: #111;

      &::after {
        content: '';
        position: absolute;
        left: rem(3);
        top: rem(3);
        background: #000;
        width: rem(10);
        height: rem(10);
        border-radius: 50%;
      }
    }

    &:disabled {
      background-color: #ccc;

      &:checked {
        border: rem(1) solid #ccc;

        &::after {
          background-color: #999;
        }
      }
    }
  }
}