.v-btn {
  box-shadow: none;

  &::before {
    opacity: 0;
  }

  &:focus,
  &:hover,
  .v-btn__overlay {
    background-color: transparent;
    box-shadow: none;
  }

}

.v-ripple__container {
  opacity: 0;
}