@charset "UTF-8";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
a,
button {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  word-break: break-all;
  word-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
  box-sizing: border-box;
}

address,
em,
dfn,
i {
  font-style: normal;
}

ins {
  background-color: #ff9;
  color: var(--black);
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: var(--black);
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

hr {
  display: none;
}

input,
select {
  vertical-align: middle;
}

input {
  appearance: none;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  border-radius: 0;
  border: none;
}

label {
  user-select: none;
}

textarea {
  resize: none;
  width: 100%;
  vertical-align: top;
  box-sizing: border-box;
}

// Remove "X" button from input field
input[type="text"] {
  &::-ms-clear {
    display: none;
    height: 0;
    width: 0;
  }

  &::-ms-reveal {
    display: none;
    height: 0;
    width: 0;
  }
}

input[type="search"] {

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

body,
input,
textarea,
select,
button,
table {
  font-family:
    "Poppins", "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
button,
table {
  font-size: 100%;
  font-size: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

img,
video {
  max-width: 100%;
  vertical-align: top;
  -webkit-ser-select: none;
  user-select: none;
}

input[type="password"] {
  font-family: monospace;
  letter-spacing: 2px;

  &::placeholder {
    font-family: "Poppins", "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    letter-spacing: initial;
  }
}